# Ignore build directories
bin/
obj/

# Ignore DLLs, EXEs, and PDB files
*.dll
*.exe
*.pdb

# Ignore Visual Studio temporary files
.vs/

# Ignore NuGet packages folder (if present)
packages/

token.json/
credentials.json
